body {
    /*background-image: url("../../assets/bg.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-size: cover;*/
    background-color: white;
}

.page-home-text {
    position: fixed;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    z-index: -2;
    /*background-color: antiquewhite;*/
}

.page-home-text p {
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
}

.page-home-man img {
    position: fixed;
    bottom: 0;
    /*transform: translateY(-50%);*/
    width: 1000px;
    z-index: -10;
    opacity: 0.5;
    filter: drop-shadow(10px 10px 20px #222);
}

@media only screen and (max-width: 500px) {
    .page-home-man img {
        left: -50%;
        width: 700px;
    }
}
