.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    /*background: #00ffe3;*/
    background: linear-gradient(135deg, rgba(54,245,197,1) 0%, rgba(39,217,230,1) 100%);
    text-align: center;
    box-shadow: 4px 7px 30px rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
}

.login-img {
    margin-top: 10px;
    width: 300px;
}

.login-input {
    margin-top: 20px;
    border-radius: 1em;
    border: 2px solid rgb(0, 255, 227);
    height: 25px;
    width: 200px;
    border: none;
}

.login-button {
    border: none;
    width: 200px;
    background: rgba(54,245,197,0.5);
    font-size: 15px;
    border-radius: 2em;
    padding: 10px;
    position: relative;
    transition: background 0.5s;
}

.login-button:hover {
    background: rgba(39,163,230,0.5);
}

.login-form {
    position: relative;
    height: 200px;
}

.login-container {
    background-color: rgb(176, 255, 248);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.login-dot1 {
    background: linear-gradient(135deg, rgba(54,245,197,0.5) 0%, rgba(39,217,230,0.5) 100%);
    border-radius: 50%;
    position: absolute;
    animation-name: dot1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    width: 500px;
    height: 500px;
}
@keyframes dot1 {
    0% {top: 250px}
    50% {top: 300px}
    100% {top: 250px}
}

.login-dot2 {
    background: linear-gradient(135deg, rgba(54,245,197,0.5) 0%, rgba(39,217,230,0.5) 100%);
    border-radius: 50%;
    position: absolute;
    animation-name: dot2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    width: 300px;
    height: 300px;
}
@keyframes dot2 {
    0% {top: -50px}
    50% {top: -20px}
    100% {top: -50px}
}

@media only screen and (max-width: 400px) {
    .login-dot1 {
        background: linear-gradient(135deg, rgba(54,245,197,0.5) 0%, rgba(39,217,230,0.5) 100%);
        border-radius: 50%;
        position: absolute;
        animation-name: dot1;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        height: 300px;
        width: 300px;
    }
    @keyframes dot1 {
        0% {top: 450px}
        50% {top: 500px}
        100% {top: 450px}
    }

    .login-dot2 {
        background: linear-gradient(135deg, rgba(54,245,197,0.5) 0%, rgba(39,217,230,0.5) 100%);
        border-radius: 50%;
        position: absolute;
        animation-name: dot2;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        width: 400px;
        height: 400px;
    }
    @keyframes dot2 {
        0% {top: -50px; right: -250px;}
        50% {top: -20px; right: -250px;}
        100% {top: -50px; right: -250px;}
    }
}
