/*.cpn-bar-container {*/
/*    display: flex;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 50px;*/
/*    background-color: rgb(17, 230, 193);*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*}*/

/*.cpn-bar-img {*/
/*    height: 45px;*/
/*    width: 45px;*/
/*    margin-top: 5px;*/
/*}*/

/*.cpn-bar-link ul {*/
/*    list-style: none;*/
/*    display: flex;*/
/*}*/

/*.cpn-bar-link li {*/
/*    width: 80px;*/
/*}*/

/*.cpn-bar-link li h1 {*/
/*    font-size: 20px;*/
/*    font-family: 'Quicksand', sans-serif;*/
/*}*/

/*.cpn-bar-link li h1 a {*/
/*    text-decoration: none;*/
/*    color: #a453ff;*/
/*}*/

/*.cpn-bar-label {*/
/*    display: none;*/
/*    cursor: pointer;*/
/*    max-width: 50px;*/
/*    max-height: 30px;*/
/*    min-width: 50px;*/
/*    min-height: 30px;*/
/*}*/

/*.cpn-bar-label-line {*/
/*    background-color: #1fa3ff;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    width: 44px;*/
/*    height: 4px;*/
/*    margin: 3px;*/
/*    border-radius: 2px;*/
/*}*/

/*input[name="chk"]{*/
/*    position: absolute;*/
/*    visibility: hidden;*/
/*}*/

/*.test-s1 {*/
/*    display: none;*/
/*}*/

/*@media only screen and (max-width: 500px) {*/
/*    .cpn-bar-label {*/
/*        display: initial;*/
/*        position: absolute;*/
/*        right: 10px;*/
/*    }*/

/*    .cpn-bar-link {*/
/*        position: fixed;*/
/*        right: -200px;*/
/*        top: 0;*/
/*        margin-top: 50px;*/
/*        height: 100%;*/
/*        width: 200px;*/
/*        background: linear-gradient(350deg, rgba(54,245,197,1) 0%, rgba(39,217,230,1) 100%);*/
/*        transition: all 0.5s cubic-bezier(0.75, 0, 0.25, 1);*/
/*    }*/

/*    .cpn-bar-link ul {*/
/*        display: grid;*/
/*        !*height: -webkit-fill-available;*!*/
/*        align-items: center;*/
/*        justify-content: space-around;*/
/*        padding: 0;*/
/*        margin: 0;*/
/*        !*background-color: yellow;*!*/
/*    }*/

/*    .cpn-bar-link li {*/
/*        display: grid;*/
/*        min-height: 100px;*/
/*        min-width: 100px;*/
/*        align-items: center;*/
/*        justify-content: space-around;*/
/*        !*background-color: blue;*!*/
/*    }*/

/*    .cpn-bar-link li h1 {*/
/*        font-size: 25px;*/
/*    }*/

/*    #chk1:checked ~ .cpn-bar-link {*/
/*        right: 0;*/
/*    }*/
/*}*/
