.cpn-bar-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    background-color: #333333;
}

.cpn-bar-name {
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.cpn-bar-link-container {
    transition: opacity 0.6s ease-in-out .35s;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #333333;
}

.cpn-bar-link {
    display: grid;
    position: absolute;
    top: 50%;
    margin-left: 10%;
    transform: translate(0%, -50%);
}

.cpn-bar-link a {
    display: block;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    color: white;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    padding: 20px;
    transform: translateX(50px);
    -webkit-transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
    transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
    opacity: 0;
    pointer-events: none;
    cursor: default;
}

.cpn-bar-link a:nth-child(1) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.cpn-bar-link a:nth-child(2) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
.cpn-bar-link a:nth-child(3) {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}
.cpn-bar-link a:nth-child(4) {
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
}
.cpn-bar-link a:nth-child(5) {
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
}

.cpn-bar-label {
    position: fixed;
    right: 6%;
    top: 50%;
    cursor: pointer;
    height: 50px;
    width: 50px;
    z-index: 1000;
    background-color: rgb(1, 1, 1, 0);
    border-radius: 50%;
    margin-top: -25px;
}

.cpn-bar-label-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-color: rgb(74, 74, 74);
    border-radius: 50%;
    z-index: -1;
    animation-name: dot;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes dot {
    0% {
        width: 400px;
        height: 400px;
    }
    50% {
        width: 500px;
        height: 500px;
    }
    100% {
        width: 400px;
        height: 400px;
    }
}

.cpn-bar-line-container {
    transition: all 1s;
    z-index: 999;
    position: fixed;
    margin-top: -25px;
    right: 6%;
    top: 50%;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.cpn-bar-line-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cpn-bar-line {
    transition: all 0.2s;
    display: grid;
    background-color: #1fa3ff;
    width: 30px;
    height: 4px;
    margin: 5px;
}

input[name="chk"]{
    position: absolute;
    visibility: hidden;
}

#chk1:checked ~ .cpn-bar-link-container {
    opacity: 100;
}

#chk1:checked ~ .cpn-bar-link-container .cpn-bar-link a {
    transform: translateX(0px);
    opacity: 100;
    pointer-events: all;
    cursor: pointer;
}

#chk1:checked ~ .cpn-bar-line-container {
    background-color: white;
}

#chk1:checked ~ .cpn-bar-label {
    position: fixed;
    right: 6%;
    top: 50%;
    margin-top: -25px;
}

#chk1:checked ~ .cpn-bar-line-container div div:nth-child(1) {
    transform: rotate(45deg) translateY(7px) translateX(7px);
}

#chk1:checked ~ .cpn-bar-line-container div div:nth-child(2) {
    opacity: 0;
}

#chk1:checked ~ .cpn-bar-line-container div div:nth-child(3) {
    transform: rotate(-45deg) translateY(-6px) translateX(6px);
}

@media only screen and (max-width: 500px) {
    .cpn-bar-link {
        margin-left: 10%;
    }

    .cpn-bar-link a {
        font-size: 30px;
    }

    .cpn-bar-label-box {
        width: 300px;
        height: 300px;
        animation-name: dot;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

    @keyframes dot {
        0% {
            width: 200px;
            height: 200px;
        }
        50% {
            width: 300px;
            height: 300px;
        }
        100% {
            width: 200px;
            height: 200px;
        }
    }
}
